pip-tools
pipreqs
flake8
isort
black
mypy
pydocstyle
pylint
autopep8
pylama
pigar
pipdeptree

pyfairylandfuture==1.0.0

setuptools
python-dotenv
pyyaml

pymysql
psycopg2
psycopg2-binary

django
django-redis
django-filter
django-cors-headers
djangorestframework
django-simpleui
django-tenant-schemas
django-tenants
django-extensions
django-celery-results
# django-multi-schema
